name: CI-MLflow-Project (Safe Mode)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      # 3. Install dependencies (AMAN)
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install \
            mlflow==2.19.0 \
            pandas==2.3.3 \
            numpy==2.4.0 \
            scikit-learn==1.8.0 \
            scipy==1.16.3 \
            joblib

      # 4. Set MLflow Tracking URI
      - name: Set MLflow Tracking URI
        run: |
          echo "MLFLOW_TRACKING_URI=file:./mlruns" >> $GITHUB_ENV

      # 5. Run MLflow Project (LOCAL ENV)
      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager local --entry-point main

      # 6. Upload MLflow artifacts (pengganti Google Drive)
      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/mlruns
